
<ion-header>
        
        
                <pyper-navbar [isLoggedIn]="true"></pyper-navbar>
              
</ion-header>

<ion-content padding>

    <!-- <div *ngIf="selectedCampaign | async as campaign">
        {{campaign.name}}
    </div> -->
<!-- 
    <div *ngIf="myCampaigns | async as campaigns">
        <ion-list>
            <ion-item>
                <ion-row>
                    <ion-col >Type</ion-col>
                    <ion-col >Name</ion-col>
                    <ion-col >From</ion-col>
                    <ion-col >To</ion-col>
                    <ion-col >Influencers</ion-col>
                    <ion-col >Reach</ion-col>
                    <ion-col >Cost</ion-col>
                    <ion-col >Engagement</ion-col>
                    <ion-col >Repeat</ion-col>
                </ion-row>
            </ion-item>
            <ion-item *ngFor="let campaign of campaigns">
                    <ion-row>
                            <ion-col >{{campaign.type}}</ion-col>
                            <ion-col >{{campaign.name}}</ion-col>
                            <ion-col >{{campaign.publishBriefDate }}</ion-col>
                            <ion-col >{{campaign.submissionEndDate}}</ion-col>
                            <ion-col >Influencers</ion-col>
                            <ion-col >Reach</ion-col>
                            <ion-col >{{campaign.cost}}</ion-col>
                            <ion-col >Engagement</ion-col>
                            <ion-col >Repeat</ion-col>
                        </ion-row>
            </ion-item>
        </ion-list>
    </div> -->

</ion-content>