page-campaign-brief {
    ion-content{ 
        height: 75vh;
    }
    
    .scroll-content{
        height: 65vh;
        overflow: auto;
    }

    h6{
        margin-left:16px;
    }
    
    p{
        margin-left:20px;        
    }

    

}
