<!-- <ion-row>
    <ion-col>
        <ion-icon color="primary" name="repeat" (click)="onRepeat()"></ion-icon>
    </ion-col>
    <ion-col>
        <ion-icon color="primary" name="expand" (click)="onView()"></ion-icon>
    </ion-col>
</ion-row> -->
<ion-row>
    <ion-col>
        <button style="width: 50px; height: 20px;" ion-button round small color="accent" (click)="onView()">View</button>
    </ion-col>
    <ion-col>
        <button style="width: 70px; height: 20px;" ion-button round small color="accent" (click)="onRepeat()">Repeat</button>
    </ion-col>
</ion-row>
