pyper-fileinput {

    .fileImage{
        object-fit: cover;
        border-radius: 50%;
        height:100px;
        width:100px;
    }

    .circle{
        border-radius: 50%;
        height:100px;
        width:100px;
        background-color:grey;
    }

    
}
