<!-- Themes  register-flat-->
<ion-content *ngIf="forgotpasswordTemplate != null" >
    <ion-grid no-padding no-margin class="forgotpasswordscreen" align-items-stretch >
      <!-- logo -->
      <ion-row align-items-start  align-items-stretch  style="height:100%; ">
        <ion-col col-12 col-md-6 >
          <img class="logo" src="{{forgotpasswordTemplate.logo}}" />
        </ion-col>
  
        <!-- Section form>-->
        <ion-col col-12 col-md-6 class="non-logo">
          <ion-grid class="non-logo-grid">
            <form padding novalidate [formGroup]="forgotpasswordForm">
              <ion-grid class="non-logo-grid">
                <ion-row align-items-start align-items center>
                  <!-- title -->
                  <ion-col col-12>
                    <h1 ion-text color="primary"><strong>{{forgotpasswordTemplate.title}}</strong></h1>
                  </ion-col>
  
                  <!-- inputs -->
                  <ion-col col-12>
                    <div input-field>
                      <!-- Input-field-text -->
                      <ion-item no-padding>
                        <ion-input type="text" [placeholder]="forgotpasswordTemplate.txtemail" formControlName="email"></ion-input>
                        <!-- [(ngModel)]="email" [ngModelOptions]="{standalone: true}" -->
  
                      </ion-item>
                      <p ion-text color="danger" *ngIf="!isemailValid()">{{forgotpasswordTemplate.errorUser}}</p>
  
                      
                    </div>
  
                  </ion-col>
  
                  <!-- forgotpassword button -->
                  <ion-col col-12 margin>
                    <ion-row>
                      
                      <button col-4 margin ion-button color="primary" round text-uppercase (click)="resetPassword()" [disabled]="this.email.invalid">{{forgotpasswordTemplate.btnforgotpassword}}</button>
                    </ion-row>
                  </ion-col>
  
                </ion-row>
              </ion-grid>
  
            </form>
            <ion-row align-items-center text-center>
              <!-- Description -->
              <div description>
                <ion-row>
                  <!-- Reset your password button -->
                  <ion-col col-12 no-padding>
                    <p no-margin no-padding>{{forgotpasswordTemplate.txtLogin}} <a (click)="goToLoginPage()">{{forgotpasswordTemplate.btnLogin}}</a>
                    </p>
                  </ion-col>
                  <!-- forgotpassword now button -->
                  <ion-col col-12 no-padding>
                    <p no-margin no-padding>{{forgotpasswordTemplate.txtSignupnow}} <a (click)="goToSignUpPage()">{{forgotpasswordTemplate.btnSignupnow}}</a>
                    </p>
                  </ion-col>
  
                </ion-row>
              </div>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>