pyper-payment-card {
    .card{
        width:500px;
        text-align: left;
        border-radius: 10px;
    }
    .content{
        margin: 35px;
    }
    .item.item-input {
        background-color: transparent;
    }
    .text-input{
        color:white;
    }
}
