pyper-card {
    .post {
        border-radius: 4px !important;
        overflow: hidden;
        height: 300px;
        object-fit: cover;
        width:100%
    }

    .profile {
        object-fit: cover;
    }

    .ion-pyper-card{
        max-width: 610px;
        border-radius: 4px !important;
    }

    .title{
        font-weight: bold;
        padding:2px;
    }

    .subtitle{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding:2px;
    }
   
    .socialMediaIcon{
        padding-right:2px;
    }
}
